h1{
    
    color: white;
    width: 50%;
    margin:10px auto;
    text-align: center;
    font-size:40px;
}

body{
    background-color: blueviolet;
}
.main{
    width: 50%;
    background-color: aliceblue;
    display: flex;
    margin:10px auto;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
    padding: 15px;
    
}
.recebenotas{
    height: 450px;
    width: 370px;
    border: 1px solid black;
    margin: 15px 0px;
    overflow-y: scroll;
}

span{
    display: block;
    margin-top: 10px;
}
